<h4><%= link_to article.title, article %></h4>
<span class="timestamp">
  Published on <%= (article.created_at).strftime "%B %d, %Y" %>
</span>
<p><%= truncate(strip_tags(article.content), length: 350) %></p>
<p>
  Tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  <% if current_user %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_article_path(article) %> |
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div><br />
  <% end %>
</p>