<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  	<div class="container-fluid">
  	  <%= link_to "Little Okins", root_path, id: "logo" %>
  	  <nav>
  	  	<ul class="nav pull-right">
  	  	  <% if current_user %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "list of admins", users_path %></li>
                <li><%= link_to "edit email/password", edit_user_path(current_user) %></li>
                <li class="divider"></li>  
            <li><%= link_to "Log off", logout_path, method: "delete" %></li>
          <% else %>
            <li><h5><%= link_to "Admin login", login_path %></h5></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>