<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
  	<div class="container">
      <div class="header">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag("okins.jpg", alt: "Little Okins")%></div>
            <div class="item"><%= image_tag("okins1.jpg", alt: "Little Okins1")%></div>
            <div class="item"><%= image_tag("okins2.jpg", alt: "Little Okins2")%></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
      <div class="center">
        <%= render 'layouts/notice' %> 
      </div>
      <div class="row">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <%= render 'layouts/sidebar' %>
        </div>
  	  </div>
    </div>
    <%= debug(params) if Rails.env.development? %> 
  </body>
</html>